<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>
<body>

<div class="container m-4 row bg-light">
    <div class="col container border border-dark p-3">
        Add player
    <form method="post" class="mt-3" action="{% url 'add_user' %}">
        {% csrf_token %}
      <div class="form-group">
        <label for="exampleInputEmail1">Name:</label>
          {{ add_form.name }}
      </div>
      <input type="submit" class="btn btn-success" value="Add">
    </form>
    </div>

    <div class="col container border border-dark p-3">
        Change kills
    <form method="post" class="mt-3" action="{% url 'change_kills' %}">
        {% csrf_token %}
      <div class="form-group">
        <label for="exampleInputEmail1">Name:</label>
          {{ kills_form.name }}
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">Kills:</label>
          {{ kills_form.kills }}
      </div>
      <button type="submit" class="btn btn-success">Change</button>
    </form>
    </div>

    <div class="col container border border-dark p-3">
        Change wins
    <form method="post" class="mt-3" action="{% url 'change_wins' %}">
        {% csrf_token %}
      <div class="form-group">
        <label for="exampleInputEmail1">Name:</label>
          {{ wins_form.name }}
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">Wins:</label>
          {{ wins_form.wins }}
      </div>
      <button type="submit" class="btn btn-success">Change</button>
    </form>
    </div>
</div>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Kills</th>
      <th scope="col">Wins</th>
    </tr>
  </thead>
  <tbody>
    {% for artist in users %}
    <tr class='success'>
        <td>{{ artist.id }}</td>
        <td>{{ artist.name }}</td>
        <td>{{ artist.kills }}</td>
        <td>{{ artist.wins }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
</body>
</html>